<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>${APPNAME}-IDE</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>

	<key>NSMainNibFile</key>
	<string>MainMenu</string>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			
			<key>CFBundleTypeIconFile</key>
			<string></string>
			
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			
			<key>NSDocumentClass</key>
			<string>TextDocument</string>
		</dict>
	</array>
	
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>

	<!-- Keys that should not be changed. -->
	<key>CFBundleExecutable</key>
	<string>launcher</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>${APPNAME}</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<!-- This is what is shown to the user via the Finder's get info command. -->
	<key>CFBundleShortVersionString</key>	<!-- major.minor.maintenance -->
	<string>${VERSION}</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleVersion</key>
	<string>${BUILDNUM}</string> 

	<key>NSAppleScriptEnabled</key>
	<string>YES</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
